0 ICON icon.ico
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Private (Dinindu D. Wanniarachchi)"
      VALUE "FileDescription", "Generating c++ source file and the header file by given arguments."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Code Generator"
      VALUE "LegalCopyright", "Dinindu D. Wanniarachchi"
      VALUE "OriginalFilename", "generator.exe"
      VALUE "ProductName", "Code Generator"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END